Repository lomendor/Project-Dixis, changes with the labels that .github/labeler.yml gives for each.
All labels: ai-pass, risk-paths, frontend, backend, ci, docs, tests

feat(storefront): products filters/search + indexes + e2e (Pass 167)
  frontend/docs/OPS/STATE.md
  frontend/prisma/migrations/20251008120459_product_search_indexes/migration.sql
  frontend/prisma/schema.prisma
  frontend/src/app/(storefront)/products/page.tsx
  frontend/src/lib/search/products.ts
  frontend/tests/storefront/products-filters.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(cart): cookie-based cart + product detail + cart page (Pass 168)
  frontend/docs/OPS/STATE.md
  frontend/src/app/(storefront)/cart/page.tsx
  frontend/src/app/(storefront)/products/[id]/page.tsx
  frontend/src/lib/cart/cookie.ts
  frontend/tests/storefront/cart.spec.ts
Labels: ai-pass, frontend, docs, tests

chore(ci): add PR template for Danger gate
  .github/pull_request_template.md
Labels: ai-pass, docs

ops(e2e): dev seed API + tests adjust + risk-ok label (Pass 167.fix)
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/cart.spec.ts
  frontend/tests/storefront/products-filters.spec.ts
Labels: ai-pass, frontend, docs, tests

chore(e2e): switch to dev seed API for CI (#453)
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/products-filters.spec.ts
Labels: ai-pass, frontend, tests

chore(e2e): switch to dev seed API for CI (#454)
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/cart.spec.ts
Labels: ai-pass, frontend, tests

test(e2e): normalize seed JSON & BASE_URL usage (Pass 167.fix.1)
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/cart.spec.ts
  frontend/tests/storefront/products-filters.spec.ts
Labels: ai-pass, frontend, docs, tests

test(e2e): normalize seed JSON & BASE_URL usage (Pass 167.fix.1)
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/products-filters.spec.ts
Labels: ai-pass, frontend, tests

test(e2e): normalize seed JSON & BASE_URL usage (Pass 167.fix.1)
  frontend/src/app/api/dev/seed/product/route.ts
  frontend/tests/storefront/cart.spec.ts
Labels: ai-pass, frontend, tests

feat(storefront): add checkout page with VAT/shipping totals
  docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/page.tsx
  frontend/src/app/(storefront)/thank-you/page.tsx
  frontend/src/lib/checkout/totals.ts
  frontend/tests/storefront/checkout.spec.ts
Labels: ai-pass, frontend, docs, tests

chore(ci): auto-fill PR Reports & skip/warn for ai-pass
  .github/workflows/pr-reports.yml
  dangerfile.js
  docs/OPS/STATE.md
Labels: ai-pass, risk-paths, ci, docs

feat(checkout): page + totals (VAT/shipping) + thank-you + e2e (Pass 169)
  .env.example
  frontend/docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/page.tsx
  frontend/src/app/(storefront)/thank-you/page.tsx
  frontend/src/lib/checkout/totals.ts
  frontend/tests/storefront/checkout.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(admin): orders dashboard (list+detail+status) + e2e (Pass 170)
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/admin/orders/[id]/route.ts
  frontend/src/app/api/admin/orders/route.ts
  frontend/tests/admin/orders-dashboard.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

ci(playwright): stabilize with SQLite + env.ci + webServer (Pass CI-01)
  .github/workflows/e2e-postgres.yml
  frontend/.env.ci
  frontend/docs/OPS/STATE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Labels: ai-pass, risk-paths, frontend, ci, docs

chore(ci): finalize PR #460 (job rename + STATE.md)
  .github/workflows/e2e-postgres.yml
  frontend/docs/OPS/STATE.md
Labels: ai-pass, risk-paths, frontend, ci, docs

fix(ci): remove nested dotenv calls in ci:* scripts
  frontend/package.json
Labels: ai-pass, frontend

fix(ci): revert to PostgreSQL with service container
  .github/workflows/e2e-postgres.yml
  frontend/.env.ci
  frontend/package.json
Labels: ai-pass, risk-paths, frontend, ci

docs(ops): update Pass CI-01 with PostgreSQL approach
  frontend/docs/OPS/STATE.md
Labels: ai-pass, frontend, docs

fix(ci): use prisma db push (not migrate deploy)
  frontend/package.json
Labels: ai-pass, frontend

ci(unblock): stub @dixis/contracts/shipping + prisma deploy-or-push fallback (Pass HF-01)
  frontend/docs/OPS/STATE.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/contracts/index.ts
  frontend/src/contracts/shipping.ts
  frontend/tsconfig.json
Labels: ai-pass, frontend, docs

fix(ci): correct ShippingQuoteResponse.data type + silence migrate stderr
  frontend/package.json
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

fix(contracts): correct DeliveryMethod enum values (HOME/LOCKER)
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

fix(ci): use prisma db push directly for CI (bypass migration drift) (Pass HF-02)
  frontend/docs/OPS/STATE.md
  frontend/package.json
Labels: ai-pass, frontend, docs

fix(contracts): add items field to ShippingQuoteRequest
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

ci: enforce SQLite-only for E2E tests (Pass CI-03)
  .github/workflows/e2e-postgres.yml
  frontend/.env.ci
  frontend/docs/OPS/STATE.md
Labels: ai-pass, risk-paths, frontend, ci, docs

fix(prisma): change provider to sqlite for CI
  frontend/prisma/schema.prisma
Labels: ai-pass, risk-paths, frontend

ci(prisma): dual schemas (prod Postgres, CI SQLite); revert provider (Pass CI-04)
  frontend/docs/OPS/STATE.md
  frontend/package.json
  frontend/prisma/schema.ci.prisma
Labels: ai-pass, risk-paths, frontend, docs

fix(prisma): remove VarChar from schema.ci.prisma (SQLite incompatible) - HF-03
  frontend/prisma/schema.ci.prisma
Labels: ai-pass, risk-paths, frontend

chore(ci): PR hygiene clean - remove devDep dotenv-cli, use npx; drop package-lock (HF-04)
  frontend/docs/OPS/STATE.md
  frontend/package-lock.json
  frontend/package.json
Labels: ai-pass, frontend, docs

fix(ci): remove npm cache from e2e-postgres.yml (no package-lock.json) - HF-05
  .github/workflows/e2e-postgres.yml
  frontend/docs/OPS/STATE.md
Labels: ai-pass, risk-paths, frontend, ci, docs

fix(ci): change npm ci to npm install in e2e-postgres.yml (no lockfile) - HF-06
  .github/workflows/e2e-postgres.yml
  frontend/docs/OPS/STATE.md
Labels: ai-pass, risk-paths, frontend, ci, docs

ci(e2e): switch to pnpm + bump webServer timeout to 180s (HF-07)
  .github/workflows/e2e-postgres.yml
  frontend/docs/OPS/STATE.md
  frontend/playwright.config.ts
Labels: ai-pass, risk-paths, frontend, ci, docs

fix(ci): enable corepack before setup-node (HF-08)
  .github/workflows/e2e-postgres.yml
Labels: ai-pass, risk-paths, ci

ci(e2e): normalize workflow - frontend wd + pnpm cache path + sanity (HF-09)
  .github/workflows/e2e-postgres.yml
  frontend/docs/OPS/STATE.md
Labels: ai-pass, risk-paths, frontend, ci, docs

fix(types): qty vs quantity normalization + toQty helper (HF-10)
  frontend/docs/OPS/STATE.md
  frontend/src/components/shipping/DeliveryMethodSelector.tsx
  frontend/src/contracts/items.ts
Labels: ai-pass, frontend, docs

fix(types): HF-11 resume — ensure product_id:number + normalizeItems wired
  frontend/docs/OPS/STATE.md
  frontend/src/contracts/items.ts
Labels: ai-pass, frontend, docs

fix(types): add breakdown to ShippingQuoteResponse + align field names (HF-11)
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

fix(types): add missing LockerSearchResponseSchema + Locker export (HF-11)
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

fix(locker): use data.lockers instead of data.data (HF-11)
  frontend/src/components/shipping/LockerSearch.tsx
Labels: ai-pass, frontend

fix(types): refactor Locker schema to ensure type inference (HF-11)
  frontend/src/contracts/shipping.ts
Labels: ai-pass, frontend

.github/labeler.yml:

ai-pass:
  - changed-files:
    - any-glob-to-any-file: '**/*'

risk-paths:
  - changed-files:
    - any-glob-to-any-file:
      - 'prisma/**'
      - 'frontend/prisma/**'
      - 'frontend/src/app/api/checkout/**'
      - 'frontend/src/app/api/admin/orders/**'
      - 'frontend/src/lib/mail/**'
      - 'frontend/src/lib/auth/**'
      - '.github/workflows/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'frontend/docs/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - '**/*.test.ts'
      - 'frontend/tests/**/*'
      - 'backend/tests/**/*'
