Repository lomendor/Project-Dixis, changes with the labels that .github/labeler.yml gives for each.
All labels: ai-pass, risk-ok

.github/labeler.yml:

ai-pass:
  - changed-files:
      - any-glob-to-any-file: ['pass/**','ops/**','ci/**','.github/**','scripts/**']
risk-ok:
  - changed-files:
      - any-glob-to-any-file: ['frontend/**','backend/**','scripts/**','.github/**']

fix(checkout): satisfy TS types (Cart API + item typing) for PR #456 - HF-196.1
  frontend/src/app/(storefront)/checkout/page.tsx
Labels: risk-ok

fix(checkout): Next 15 Suspense wrapper + client extraction (PR #456) - HF-196.2
  frontend/src/app/(storefront)/checkout/CheckoutClient.tsx
  frontend/src/app/(storefront)/checkout/page.tsx
Labels: risk-ok

feat(storefront): checkout page with VAT/shipping totals + e2e (#456)
  docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/CheckoutClient.tsx
  frontend/src/app/(storefront)/checkout/page.tsx
  frontend/src/app/(storefront)/thank-you/page.tsx
  frontend/src/lib/checkout/totals.ts
  frontend/tests/storefront/checkout.spec.ts
Labels: risk-ok

ops(docs): conflict-proof STATE (per-pass + generator) and close superseded checkout PRs (Pass 199A)
  .gitattributes
  frontend/docs/OPS/PASSES/000-legacy.md
  frontend/docs/OPS/PASSES/2025-10-13_0001-ops.md
  scripts/ops/rebuild-state.ts
Labels: ai-pass, risk-ok

feat(tracking): public token API + /track/[token] page + e2e (Pass 200A)
  docs/AGENT/SUMMARY/Pass-200A.md
  frontend/docs/OPS/PASSES/200A-tracking.md
  frontend/src/app/(storefront)/track/[token]/page.tsx
  frontend/src/app/api/dev/order-token/route.ts
  frontend/src/app/api/orders/public/[token]/route.ts
  frontend/tests/tracking/public-token.spec.ts
Labels: risk-ok

fix(tracking): remove duplicate (storefront) route - use existing /track/[token] (HF-200A.1)
  frontend/src/app/(storefront)/track/[token]/page.tsx
Labels: risk-ok

test(hotfix): dev seed-product endpoint + stabilize public tracking e2e (HF-200A.2)
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/dev/seed-product/route.ts
  frontend/tests/tracking/public-token.spec.ts
Labels: risk-ok

fix(e2e): producer-aware dev seed endpoint for tracking tests (HF-200A.3)
  frontend/src/app/api/dev/seed-producer-product/route.ts
  frontend/tests/tracking/public-token.spec.ts
Labels: risk-ok

feat(tracking): Public token API + /track/[token] + e2e (Pass 200A) (#520)
  docs/AGENT/SUMMARY/Pass-200A.md
  frontend/docs/OPS/PASSES/200A-tracking.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/dev/order-token/route.ts
  frontend/src/app/api/dev/seed-producer-product/route.ts
  frontend/src/app/api/orders/public/[token]/route.ts
  frontend/tests/tracking/public-token.spec.ts
Labels: risk-ok

docs(pass): Add Pass 200A completion summary (HF-200A.3)
  frontend/docs/OPS/PASSES/200A-tracking-public-token.md
Labels: risk-ok

feat(shipping): Unify totals helper + checkout compute + admin UI + tests (Pass 201S)
  docs/AGENT/SUMMARY/Pass-201S.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/admin/orders/[id]/page.tsx
  frontend/src/lib/cart/totals.ts
  frontend/tests/totals/totals.spec.ts
Labels: risk-ok

docs(pass): Add Pass 200A completion summary (HF-200A.3) (#521)
  frontend/docs/OPS/PASSES/200A-tracking-public-token.md
Labels: risk-ok

feat(shipping): Totals consistency + Admin UI + tests (Pass 201S) (#522)
  docs/AGENT/SUMMARY/Pass-201S.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/admin/orders/[id]/page.tsx
  frontend/src/lib/cart/totals.ts
  frontend/tests/totals/totals.spec.ts
Labels: risk-ok

ops(docs): Add PDAC-lite SOP + sub-agent configs (Pass 202P)
  docs/AGENT/SOPs/SOP-PDAC-lite.md
  docs/AGENT/SUMMARY/Pass-201S.post.md
  docs/OPS/STATE.md
Labels: none

ops(docs): Add PDAC-lite SOP + sub-agent configs (Pass 202P) (#523)
  docs/AGENT/SOPs/SOP-PDAC-lite.md
  docs/AGENT/SUMMARY/Pass-201S.post.md
  docs/OPS/STATE.md
Labels: none

ops(docs): Pre-Plan Pass 202S (Plan+Delegate+Assess phases)
  docs/AGENT/SUMMARY/Pass-202S.md
  docs/AGENT/TASKS/Pass-202S.md
Labels: none

feat(checkout): Wire unified totals helper + E2E (Pass 202S)
  frontend/src/app/(storefront)/checkout/CheckoutClient.tsx
  frontend/tests/storefront/checkout/checkout-totals.spec.ts
Labels: risk-ok

docs(STATE): Add Pass 202S note
  docs/OPS/STATE.md
Labels: none

feat(checkout): Wire unified totals helper + E2E (Pass 202S) (#524)
  docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/CheckoutClient.tsx
  frontend/tests/storefront/checkout/checkout-totals.spec.ts
Labels: risk-ok
