Repository lomendor/Project-Dixis, changes with the labels that .github/labeler.yml gives for each.
All labels: ai-pass, risk-paths, frontend, backend, ci, docs, tests

feat(admin): Orders list + export + i18n (Pass 171A)
  frontend/docs/AGENT/SUMMARY/Pass-171A.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/(admin)/orders/page.tsx
  frontend/src/app/api/admin/orders/export/route.ts
  frontend/src/components/admin/orders/Filters.tsx
  frontend/src/components/admin/orders/OrdersTable.tsx
  frontend/src/components/admin/orders/StatusBadge.tsx
  frontend/src/lib/i18n/el/admin.orders.json
  frontend/src/lib/i18n/en/admin.orders.json
  frontend/tests/admin/orders/list-and-export.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(admin): Orders drawer + inline status actions + e2e (Pass 171B)
  frontend/docs/AGENT/SUMMARY/Pass-171B.md
  frontend/docs/OPS/STATE.md
  frontend/src/components/admin/orders/OrderDrawer.tsx
  frontend/src/components/admin/orders/OrdersTable.tsx
  frontend/src/components/admin/orders/StatusActions.tsx
  frontend/tests/admin/orders/status-and-drawer.spec.ts
Labels: ai-pass, frontend, docs, tests

chore(admin): 171B.1 — PR #466 hygiene + toast + pagination controls
  frontend/docs/OPS/STATE.md
  frontend/src/app/(admin)/orders/page.tsx
  frontend/src/components/admin/orders/OrdersTable.tsx
  frontend/src/components/admin/orders/StatusActions.tsx
  frontend/src/components/admin/orders/toast.tsx
Labels: ai-pass, frontend, docs

chore(admin): Orders hardening — pagination e2e + Excel-safe CSV (Pass 171C)
  frontend/docs/AGENT/SUMMARY/Pass-171C.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/admin/orders/export/route.ts
  frontend/tests/admin/orders/list-and-export.spec.ts
  frontend/tests/admin/orders/pagination.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

test: HF-171C.1 — fix CSV header assertion to include email
  frontend/tests/admin/orders/list-and-export.spec.ts
Labels: ai-pass, frontend, tests

feat(shipping): Engine (feature-flag API) + tests — Pass 172A; test hotfix HF-171C.1
  .env.example
  docs/AGENT/SUMMARY/Pass-172A.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/shipping/quote/route.ts
  frontend/src/lib/i18n/el/shipping.json
  frontend/src/lib/i18n/en/shipping.json
  frontend/src/lib/shipping/engine.ts
  frontend/tests/shipping/quote.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(checkout): integrate shipping engine into totals (feature-flag) + e2e (Pass 172B)
  docs/AGENT/SUMMARY/Pass-172B.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/checkout/route.ts
  frontend/tests/checkout/shipping-totals.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

test(checkout): stabilize e2e — remove runtime env free-threshold case (HF-172B.1)
  frontend/tests/checkout/shipping-totals.spec.ts
Labels: ai-pass, frontend, tests

ci(test): HF-172B.2 — add .env.ci (free-shipping) + reinstate e2e
  .env.ci
  docs/AGENT/SUMMARY/Pass-172B.2.md
  frontend/docs/OPS/STATE.md
  frontend/tests/checkout/shipping-free-threshold.spec.ts
Labels: ai-pass, frontend, docs, tests

docs(checkout-ui): placeholder for shipping display + UI e2e (Pass 172C - DEFERRED)
  docs/AGENT/SUMMARY/Pass-172C.md
  frontend/docs/OPS/STATE.md
  frontend/tests/checkout/shipping-ui.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(checkout): ShippingSummary widget (EL-first) + UI e2e — Pass 172C.real
  docs/AGENT/SUMMARY/Pass-172C.real.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/page.tsx
  frontend/src/components/checkout/ShippingSummary.tsx
  frontend/tests/checkout/shipping-ui.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(checkout-ux): EL-first labels + basic validation + e2e (Pass 173A)
  docs/AGENT/SUMMARY/Pass-172-Complete.md
  docs/AGENT/SUMMARY/Pass-173A.md
  frontend/docs/OPS/STATE.md
  frontend/src/components/checkout/validate.ts
  frontend/src/lib/i18n/el/checkout.json
  frontend/src/lib/i18n/en/checkout.json
  frontend/tests/checkout/checkout-ux.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(checkout): EL-first validation (server Zod + client UX) + E2E (Pass 173B)
  docs/AGENT/SUMMARY/Pass-173B.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/checkout/route.ts
  frontend/src/lib/validation/checkout.zod.ts
  frontend/tests/checkout/checkout-validate.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(checkout): Shipping Method Selector + live totals + UI e2e (Pass 173C)
  docs/AGENT/SUMMARY/Pass-173C.md
  frontend/docs/OPS/STATE.md
  frontend/src/components/checkout/ShippingSelector.tsx
  frontend/tests/checkout/shipping-method-ui.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(checkout): order confirmation page + resend email API (Pass 173D)
  docs/AGENT/SUMMARY/Pass-173D.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/(storefront)/checkout/page.tsx
  frontend/src/app/(storefront)/order/[id]/page.tsx
  frontend/src/app/api/orders/[id]/resend/route.ts
  frontend/tests/order/order-confirmation.spec.ts
Labels: ai-pass, frontend, docs, tests

fix(order): Next.js params (no Promise) + docs note (HF-173D.1)
  docs/AGENT/SUMMARY/Pass-173D.md
  frontend/src/app/(storefront)/order/[id]/page.tsx
  frontend/src/app/api/orders/[id]/resend/route.ts
Labels: ai-pass, frontend, docs

feat(order): Status chips + timeline placeholder + testids + e2e (Pass 173E)
  docs/AGENT/SUMMARY/Pass-173E.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/(storefront)/order/[id]/page.tsx
  frontend/src/app/api/orders/[id]/resend/route.ts
  frontend/src/components/order/StatusChips.tsx
  frontend/tests/order/order-status.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(order): GET /api/orders/[id] + resend email wiring + e2e (Pass 173F)
  docs/AGENT/SUMMARY/Pass-173F.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/orders/[id]/resend/route.ts
  frontend/src/app/api/orders/[id]/route.ts
  frontend/src/lib/mail/templates/orderStatus.ts
  frontend/tests/order/order-api-resend.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(admin): Orders list + filters + CSV export + e2e (Pass 173G)
  docs/AGENT/SUMMARY/Pass-173G.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/(admin)/orders/page.tsx
  frontend/src/app/api/admin/orders/export.csv/route.ts
  frontend/src/app/api/admin/orders/route.ts
  frontend/tests/admin/orders/orders-admin.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(admin): add authentication guards for admin routes (HF-173H)
  docs/AGENT/SUMMARY/Pass-173H.md
  frontend/middleware.ts
  frontend/src/app/(admin)/orders/page.tsx
  frontend/src/app/api/admin/orders/export.csv/route.ts
  frontend/src/app/api/admin/orders/route.ts
  frontend/src/lib/auth/guard.ts
  frontend/tests/admin/auth/admin-guard.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

chore(admin): finalize Pass 173I — Print button (client) + global print CSS; remove duplicate page
  docs/AGENT/SUMMARY/Pass-173I.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/admin/orders/[id]/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/PrintButton.tsx
  frontend/tests/admin/orders/order-detail.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(shipping): Infrastructure for shipping transparency - format helpers + e2e structure (Pass 173J - PARTIAL)
  docs/AGENT/SUMMARY/Pass-173J.md
  frontend/docs/OPS/STATE.md
  frontend/src/lib/shipping/format.ts
  frontend/tests/shipping/shipping-transparency.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(shipping): persist shippingMethod + computedShipping; wire checkout API + format helpers + e2e (Pass 173K)
  docs/AGENT/SUMMARY/Pass-173K.md
  frontend/prisma/migrations/20251010000000_add_order_shipping_fields/migration.sql
  frontend/prisma/schema.prisma
  frontend/src/app/api/checkout/route.ts
  frontend/src/lib/shipping/format.ts
  frontend/tests/shipping/shipping-persist-ui.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(shipping): Orders GET API + confirmation/admin UI display + e2e tests (Pass 173L)
  docs/AGENT/SUMMARY/Pass-173L.md
  frontend/docs/OPS/STATE.md
  frontend/src/app/admin/orders/[id]/page.tsx
  frontend/src/app/api/orders/[id]/route.ts
  frontend/src/app/order/confirmation/[orderId]/page.tsx
  frontend/src/lib/shipping/format.ts
  frontend/tests/shipping/shipping-api-ui.spec.ts
Labels: ai-pass, frontend, docs, tests

fix(shipping): normalize aliases→canonical; persist canonical in checkout + e2e (Pass 173L.fix)
  frontend/docs/OPS/STATE.md
  frontend/src/app/api/checkout/route.ts
  frontend/src/contracts/shipping.ts
  frontend/src/lib/shipping/format.ts
  frontend/tests/shipping/shipping-normalize.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

fix(shipping): include codFee in COURIER_COD; option-based compute; test COD>=COURIER (HF-173L.1)
  frontend/docs/OPS/STATE.md
  frontend/src/contracts/shipping.ts
  frontend/tests/shipping/shipping-normalize.spec.ts
Labels: ai-pass, frontend, docs, tests

feat(tracking): public order tracking via token + email links + e2e tests (Pass 173M)
  frontend/docs/AGENT/SUMMARY/Pass-173M.md
  frontend/docs/OPS/STATE.md
  frontend/prisma/migrations/20251010000000_add_order_public_token/migration.sql
  frontend/prisma/schema.prisma
  frontend/src/app/api/checkout/route.ts
  frontend/src/app/api/orders/track/[token]/route.ts
  frontend/src/app/orders/track/[token]/page.tsx
  frontend/src/lib/mail/templates/orderConfirmation.ts
  frontend/tests/tracking/public-tracking.spec.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

feat(tracking): status emails link + publicToken backfill + e2e (Pass 173M.1)
  docs/AGENT/SUMMARY/Pass-173M.1.md
  frontend/.env.example
  frontend/docs/OPS/STATE.md
  frontend/package.json
  frontend/src/app/api/admin/orders/[id]/status/route.ts
  frontend/src/lib/mail/templates/orderStatus.ts
  frontend/tests/tracking/track-status-reflect.spec.ts
  scripts/backfill-public-token.ts
Labels: ai-pass, risk-paths, frontend, docs, tests

ci: fix Prisma schema parity (schema.ci.prisma ↔ schema.prisma)
  .github/workflows/schema-parity.yml
  frontend/docs/OPS/STATE.md
  frontend/package.json
  frontend/playwright.config.ts
  scripts/ci/sync-ci-schema.ts
Labels: ai-pass, risk-paths, frontend, ci, docs

.github/labeler.yml:

ai-pass:
  - changed-files:
    - any-glob-to-any-file: '**/*'

risk-paths:
  - changed-files:
    - any-glob-to-any-file:
      - 'prisma/**'
      - 'frontend/prisma/**'
      - 'frontend/src/app/api/checkout/**'
      - 'frontend/src/app/api/admin/orders/**'
      - 'frontend/src/lib/mail/**'
      - 'frontend/src/lib/auth/**'
      - '.github/workflows/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'frontend/docs/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - '**/*.test.ts'
      - 'frontend/tests/**/*'
      - 'backend/tests/**/*'
